.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 80px;
}
.advantages h1{
  color: #242D31;
  font-weight: 700;
  font-size: 32px;
  border-left: 0.5rem solid #E02F2F;
  padding: 0 1.5rem;
}
.advantages .bottom{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}
.advantages .bottom .left{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 4px 4px 42px rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  padding: 2rem 1rem;
}
.advantages .bottom .left .img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .bottom .left .img img{
  width: 80%;
}
           
.advantages .bottom .left .text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.advantages .bottom .left .text h3{
  font-size: 28px;
  font-weight: 600;
  color:  #313131;
}
.advantages .bottom .left .text p{
  font-size: 20px;
}
.advantages .bottom .right{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 4px 4px 42px rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  /* padding: 2rem 1rem; */
}
.advantages .bottom .right .img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .bottom .right .img img{
  width: 80%;
}
.advantages .bottom .right .text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.advantages .bottom .right .text h3{
  font-size: 28px;
  font-weight: 600;
  color:  #313131;
}
.advantages .bottom .right .text p{
  font-size: 20px;
}