.nav{
  background-color: #191919;
  color:#fff;
  display: flex;
  justify-content: space-between;
  padding:10px;
  align-items: center;
}
.nav .left img{
  width:120px;
  height:40px;
  margin-left: 40px;
}
.nav ul{
  margin: auto;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding:5px;
  align-items: center;
}
.nav ul li{
  padding:5px 10px;
  text-decoration: none;
  color:#fff;
  min-width:90px;
}
.nav ul li a{
  color:#eee;
  display: flex;
  transition: 0.2s ease-in-out;
  font-family:sans-serif;

}
.nav ul li .active{
  color:#fff;
  font-weight: bold;
}
.nav ul li a:hover{
  color:#fff;
}
.nav ul .btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #34A853;
  border-radius: 5px;
  color: white;
  padding: 8px 12px;
  margin-right: 10px;
}